<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
update:
<form action="/admin/updatekieudang" method="post">
    id: <input type="text" name="id" th:value="${kd.id}">
    makieudang: <input type="text" name="maKieuDang" th:value="${kd.maKieuDang}"> <br>
    tenkieudang: <input type="text" name="tenKieuDang" th:value="${kd.tenKieuDang}"> <br>
    trangthai: <input type="radio" name="trangThai" value="1" th:checked="${kd.trangThai == 1}">  mo
    <input type="radio" name="trangThai" value="0" th:checked="${kd.trangThai == 1}"> dong <br>
    <button>update</button>
</form>
</body>
</html>