<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm Chi Tiết</title>
</head>
<body>
update:
<form action="/admin/updateSPCT" method="post">
    id: <input type="text" name="id" th:value="${spct.id}"> <br>
    san pham:
    <select name="sanPhamId">
        <option value="">Chọn sản phẩm</option>
        <th:block th:each="sp : ${listSP}">
            <option th:value="${sp.id}" th:text="${sp.tenSanPham}" th:selected="${sp.id == spct.sanPhamId}"></option>
        </th:block>
    </select> <br>
    kich thuoc:
    <select name="kichThuocId">
        <option value="">Chọn kích thước</option>
        <th:block th:each="kt : ${listKT}">
            <option th:value="${kt.id}" th:text="${kt.tenKichThuoc}" th:selected="${kt.id == spct.kichThuocId}"></option>
        </th:block>
    </select> <br>
    mau sac:
    <select name="mauSacId">
        <option value="">Chọn màu sắc</option>
        <th:block th:each="ms : ${listMS}">
            <option th:value="${ms.id}" th:text="${ms.tenMauSac}" th:selected="${ms.id == spct.mauSacId}"></option>
        </th:block>
    </select> <br>
    chat lieu:
    <select name="chatLieuId">
        <option value="">Chọn chất liệu</option>
        <th:block th:each="cl : ${listCL}">
            <option th:value="${cl.id}" th:text="${cl.tenChatLieu}" th:selected="${cl.id == spct.chatLieuId}"></option>
        </th:block>
    </select> <br>
    kieu dang:
    <select name="kieuDangId">
        <option value="">Chọn kiểu dáng</option>
        <th:block th:each="kd : ${listKD}">
            <option th:value="${kd.id}" th:text="${kd.tenKieuDang}" th:selected="${kd.id == spct.kieuDangId}"></option>
        </th:block>
    </select> <br>
    co ao:
    <select name="coAoId">
        <option value="">Chọn cổ áo</option>
        <th:block th:each="ca : ${listCA}">
            <option th:value="${ca.id}" th:text="${ca.tenCoAo}" th:selected="${ca.id == spct.coAoId}"></option>
        </th:block>
    </select> <br>
    thiet ke:
    <select name="thietKeId">
        <option value="">Chọn thiết kế</option>
        <th:block th:each="tk : ${listTK}">
            <option  th:value="${tk.id}" th:text="${tk.tenThietKe}" th:selected="${tk.id == spct.thietKeId}"></option>
        </th:block>
    </select> <br>
    thuong hieu:
    <select name="thuongHieuId">
        <option value="">Chọn thương hiệu</option>
        <th:block th:each="th : ${listTH}">
            <option th:value="${th.id}" th:text="${th.tenThuongHieu}" th:selected="${th.id == spct.thuongHieuId}"></option>
        </th:block>
    </select> <br>
    soluong: <input type="number" name="soLuong" th:value="${spct.soLuong}"> <br>
    dongia: <input type="number" name="donGia" step="0.01" th:value="${spct.donGia}"> <br>
    ngaytao: <input type="date" name="ngayTao" th:value="${spct.ngayTao}" readonly> <br>
    ngaycapnhat: <input type="date" name="" th:value="${spct.ngayCapNhat}" readonly> <br>
    nguoi cap nhat: <input type="text" name="nguoiCapNhat" th:value="${spct.nguoiCapNhat}"> <br>
    trangthai: <input type="radio" name="trangThai" value="1" th:checked="${spct.trangThai == 1}"> mo
    <input type="radio" name="trangThai" value="0" th:checked="${spct.trangThai == 0}"> dong <br>
    <button>update</button>
</form>
</body>
</html>